In [9]:
import pandas as pd
import os

"""pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
"""
print(os.getcwd())
bikes = pd.read_csv('C:\\develop\\src\\20230405_2.2_Python_SeoulBikeData.csv', encoding='ISO-8859-1')
print(type(bikes))
print(bikes.describe())
print(bikes.head(5))
print(bikes.tail(3))

C:\develop\src
<class 'pandas.core.frame.DataFrame'>
       Rented Bike Count         Hour  Temperature(°C)  Humidity(%)
count        8760.000000  8760.000000      8760.000000  8760.000000  \
mean          704.602055    11.500000        12.882922    58.226256
std           644.997468     6.922582        11.944825    20.362413
min             0.000000     0.000000       -17.800000     0.000000
25%           191.000000     5.750000         3.500000    42.000000
50%           504.500000    11.500000        13.700000    57.000000
75%          1065.250000    17.250000        22.500000    74.000000
max          3556.000000    23.000000        39.400000    98.000000

       Wind speed (m/s)  Visibility (10m)  Dew point temperature(°C)
count       8760.000000       8760.000000                8760.000000  \
mean           1.724909       1436.825799                   4.073813
std            1.036300        608.298712                  13.060369
min            0.000000         27.000000                 -30.600000
25%            0.900000        940.000000                  -4.700000
50%            1.500000       1698.000000                   5.100000
75%            2.300000       2000.000000                  14.800000
max            7.400000       2000.000000                  27.200000

       Solar Radiation (MJ/m2)  Rainfall(mm)  Snowfall (cm)
count              8760.000000   8760.000000    8760.000000
mean                  0.569111      0.148687       0.075068
std                   0.868746      1.128193       0.436746
min                   0.000000      0.000000       0.000000
25%                   0.000000      0.000000       0.000000
50%                   0.010000      0.000000       0.000000
75%                   0.930000      0.000000       0.000000
max                   3.520000     35.000000       8.800000
         Date  Rented Bike Count  Hour  Temperature(°C)  Humidity(%)
0  01/12/2017                254     0             -5.2           37  \
1  01/12/2017                204     1             -5.5           38
2  01/12/2017                173     2             -6.0           39
3  01/12/2017                107     3             -6.2           40
4  01/12/2017                 78     4             -6.0           36

   Wind speed (m/s)  Visibility (10m)  Dew point temperature(°C)
0               2.2              2000                      -17.6  \
1               0.8              2000                      -17.6
2               1.0              2000                      -17.7
3               0.9              2000                      -17.6
4               2.3              2000                      -18.6

   Solar Radiation (MJ/m2)  Rainfall(mm)  Snowfall (cm) Seasons     Holiday
0                      0.0           0.0            0.0  Winter  No Holiday  \
1                      0.0           0.0            0.0  Winter  No Holiday
2                      0.0           0.0            0.0  Winter  No Holiday
3                      0.0           0.0            0.0  Winter  No Holiday
4                      0.0           0.0            0.0  Winter  No Holiday

  Functioning Day
0             Yes
1             Yes
2             Yes
3             Yes
4             Yes
            Date  Rented Bike Count  Hour  Temperature(°C)  Humidity(%)
8757  30/11/2018                694    21              2.6           39  \
8758  30/11/2018                712    22              2.1           41
8759  30/11/2018                584    23              1.9           43

      Wind speed (m/s)  Visibility (10m)  Dew point temperature(°C)
8757               0.3              1968                       -9.9  \
8758               1.0              1859                       -9.8
8759               1.3              1909                       -9.3

      Solar Radiation (MJ/m2)  Rainfall(mm)  Snowfall (cm) Seasons
8757                      0.0           0.0            0.0  Autumn  \
8758                      0.0           0.0            0.0  Autumn
8759                      0.0           0.0            0.0  Autumn

         Holiday Functioning Day
8757  No Holiday             Yes
8758  No Holiday             Yes
8759  No Holiday             Yes

In [10]:
#Zugriffe
bikes.pivot(index="Hour",columns="Date",values="Rented Bike Count")

Date,01/01/2018,01/02/2018,01/03/2018,01/04/2018,01/05/2018,01/06/2018,01/07/2018,01/08/2018,01/09/2018,01/10/2018,...,30/10/2018,30/11/2018,30/12/2017,31/01/2018,31/03/2018,31/05/2018,31/07/2018,31/08/2018,31/10/2018,31/12/2017
Hour,,,,,,,,,,,,,,,,,,,,,
0,206,122,71,579,782,963,865,875,1075,680,...,488,474,240,69,537,844,901,861,294,43
1,230,149,147,453,705,776,740,724,975,402,...,440,456,234,96,502,610,695,652,324,43
2,178,103,180,322,534,554,586,501,785,262,...,283,300,192,60,397,470,476,381,287,65
3,119,81,92,221,343,366,368,362,514,179,...,182,213,127,47,264,328,334,297,227,65
4,62,37,28,147,187,265,211,250,338,143,...,150,116,86,34,163,188,244,170,146,32
5,61,51,11,96,166,306,54,315,260,246,...,162,149,52,34,108,265,284,217,141,22
6,65,95,33,110,306,672,60,622,362,632,...,394,293,62,63,142,646,584,436,402,25
7,81,244,61,169,614,1421,25,1061,511,1429,...,1005,750,88,124,264,1401,1091,828,1060,39
8,89,459,148,342,1067,2149,20,1550,812,2101,...,1883,1527,162,273,489,2281,1665,1686,1907,84
9,121,259,160,485,1024,1219,9,853,925,1106,...,982,809,224,137,642,1277,860,1049,996,103
10,139,168,191,566,1002,862,13,540,861,856,...,684,554,208,102,618,936,582,794,717,110
11,169,194,239,737,1117,1036,11,521,981,959,...,782,642,237,144,824,979,583,868,818,142
12,225,240,311,926,1315,1076,9,569,1086,1138,...,881,720,274,160,1072,1134,626,982,907,209
13,248,233,358,1156,1493,1093,30,533,1303,1087,...,847,740,333,171,1218,1151,623,965,983,267
14,298,256,375,1201,1536,1071,14,475,1371,1137,...,903,761,356,156,1381,1164,579,987,963,262
15,344,293,458,1349,1639,1235,51,531,1480,1258,...,965,768,337,214,1542,1280,665,1119,994,300
16,310,268,460,1409,1759,1488,41,561,1678,1357,...,1110,837,345,216,1578,1550,763,1404,1185,272
17,271,341,423,1362,1898,2123,25,1033,1845,1799,...,1357,1047,183,279,1531,2047,1184,1869,1462,240
18,218,542,317,1296,2082,3088,17,1929,1892,2857,...,2074,1384,45,403,1391,3119,2092,2836,2094,215
19,125,344,231,1066,1696,2505,18,1553,1891,2122,...,1442,1003,40,270,1025,2534,1865,2372,1507,163
20,206,263,246,984,1656,2163,16,1441,1440,1824,...,1186,764,66,229,972,2164,1772,1995,1176,161
21,203,257,212,983,1644,2066,17,1500,1110,1777,...,1147,694,64,229,1010,2070,1719,1931,1069,179
22,168,235,190,841,1400,1991,16,1367,992,1501,...,948,712,30,188,922,1900,1613,1789,1088,155
23,154,143,190,588,855,1440,15,1046,1523,1057,...,527,584,42,132,655,1343,1097,1329,798,227

In [12]:
#bikes.melt(var_name="Date", value_name="Rented Bike Count")
bikes.melt(var_name="Date", value_name="Rented Bike Count")

ValueError: value_name (Rented Bike Count) cannot match an element in the DataFrame columns.

In [ ]:
bikes.melt().to_csv('C:\\develop\\src\\bikes_output3.csv', sep=";")

In [ ]:
bikes.to_excel('C:\\develop\\src\\bikes_output3.xlsx')

In [ ]:
bikes.to_json()

In [ ]:
import json
with open("C:\\develop\\src\\bikes_output3.json","w") as datei:
    json.dump(bikes.to_json(),datei,indent=2)

In [ ]:
data = {"a":100, "b":200, "c":300}
df = pd.DataFrame(data,index=["1","2","3","4"])
df.to_csv("C:\\develop\\src\\from_dict.csv",sep=";")