In [2]:
import pandas as pd
a=["Montag","Dienstag","Mittwoch"]
pds = pd.Series(a)
print(pds)

0      Montag
1    Dienstag
2    Mittwoch
dtype: object

In [4]:
a = [1,2,3]
pdsindtitel = pd.Series(a,index=["x","y","z"],name="Namen")
pdsindtitel

x    1
y    2
z    3
Name: Namen, dtype: int64

In [7]:
data = {"a":100, "b":200, "c":300,"e":500}
ser = pd.Series(data,index=["a","c","a","b","d"])
ser

a    100.0
c    300.0
a    100.0
b    200.0
d      NaN
dtype: float64

In [8]:
pd.Series(5, index=[0,1,2,3])

0    5
1    5
2    5
3    5
dtype: int64

In [23]:
meine_liste = ["a","C","D","f","r","t","z"]
def umwandler():
    wort = pd.Series(meine_liste)
    print(wort)
    neue_series = pd.Series(wort, index=[2,0,5,0,1,4,0,3,5])
    print(neue_series)
    ldc = neue_series.tolist()
    print(ldc)
    print(neue_series.count())
    return ldc

ergebnisliste = umwandler()
print("***".join(ergebnisliste))

0    a
1    C
2    D
3    f
4    r
5    t
6    z
dtype: object
2    D
0    a
5    t
0    a
1    C
4    r
0    a
3    f
5    t
dtype: object
['D', 'a', 't', 'a', 'C', 'r', 'a', 'f', 't']
9
D***a***t***a***C***r***a***f***t

In [25]:
ser1 = pd.Series([0,10,100], index=['a','b','c'])
ser2 = pd.Series([5,50,500], index=['a','b','d'])
ser1+ser2
ser3=ser1+ser2
ser3

a     5.0
b    60.0
c     NaN
d     NaN
dtype: float64

In [28]:
ser1.add(ser2,fill_value=0)

a      5.0
b     60.0
c    100.0
d    500.0
dtype: float64

In [30]:
print(ser1.sum())
print(ser2.sum())
ser1.sum()+ser2.sum()

110
555

665

In [50]:
data = {"Sportart": ["Fussball","Handball","Basketball","Eishockey"],
        "Spielzeit": [90,60,40,60],
        "Spielzeit1": [900,600,400,600],
        "Spielzeit2": [950,650,450,650],
        "Spielzeit3": [900,600,400,600],
}

df = pd.DataFrame(data,columns=["Sportart","Spielzeit3","Spielzeit2","Spielzeit1","Spielzeit"])

In [64]:
# Zugriff auf Zeile
# loc
# iloc

neue_series = pd.Series([1,2,3,4,5], index=["eins","zwei","drei","vier","fünf"])
print(neue_series)
print(neue_series.loc["eins"])
print(neue_series.iloc[3])
print(neue_series["drei"])

print("Bereich: ",neue_series["eins":"vier"])
print("Bereich 2: ",neue_series[1:3])

eins    1
zwei    2
drei    3
vier    4
fünf    5
dtype: int64
1
4
3
Bereich:  eins    1
zwei    2
drei    3
vier    4
dtype: int64
Bereich 2:  zwei    2
drei    3
dtype: int64

In [66]:
df["Spielzeit4"] = df["Spielzeit2"]+df["Spielzeit3"]
df
df["Spielzeit3"]-df["Spielzeit"]

0    810
1    540
2    360
3    540
dtype: int64

In [70]:
data = {"Sportart": ["Fussball","Handball","Basketball","Eishockey"],
        "Dauer pro Spiel": [90,60,40,60]
}

df = pd.DataFrame(data, index=["SP1","SP2","SP3","SP4"], columns=["Sportart","Dauer pro Spiel"])
df

       Sportart  Dauer pro Spiel
SP1    Fussball               90
SP2    Handball               60
SP3  Basketball               40
SP4   Eishockey               60

In [72]:
df.rename(columns = {'Sportart':'Art','Dauer pro Spiel':'Spielzeit'},inplace=True)
df

            Art  Spielzeit
SP1    Fussball         90
SP2    Handball         60
SP3  Basketball         40
SP4   Eishockey         60

In [73]:
df.columns = ["Sportart","Dauer pro Spiel"]
df

       Sportart  Dauer pro Spiel
SP1    Fussball               90
SP2    Handball               60
SP3  Basketball               40
SP4   Eishockey               60

In [74]:
#Beispiel für DataFrame, wenn es vorher einfach "nur" einzelne Series sind
print("Jahre")
import pandas as pd
jahre = list(range(2019,2022))
print("Jahre", jahre)
beob1 = pd.Series([1,2,3],index=jahre)
beob2 = pd.Series([4,5,6],index=jahre)
beob3 = pd.Series([7,8,9],index=jahre)

Jahre
Jahre [2019, 2020, 2021]

In [75]:
jahresübersicht = pd.DataFrame([beob1,beob2,beob3])
print(jahresübersicht)

   2019  2020  2021
0     1     2     3
1     4     5     6
2     7     8     9

In [78]:
jahresübersicht[2022] = jahresübersicht[2021]**2
jahresübersicht

   2019  2020  2021  2022
0     1     2     3     9
1     4     5     6    36
2     7     8     9    81

In [83]:
print(pd.concat([beob1,beob2,beob3], axis=1))

      0  1  2
2019  1  4  7
2020  2  5  8
2021  3  6  9

## Übungsaufgabe DataFrame mit Pandas

Du interessierst dich dafür, wie viel Zeit  bei deinen Lieblingssportarten eigentlich wirklich gespielt wird und wie groß die Differenz zur wirklich gespielten Zeit ist.

Du bist Fan von den Sportarten Fussball, Basketball, Handball, Eishockey und (American) Football.

Suche dafür die offiziellen Spielzeiten heraus (Basketball gern NBA-Regeln) und erstelle eine Series mit passendem Index.

Suche dafür die Nettospielzeiten heraus [hier]https://www.srf.ch/radio-srf-3/aktuell/netto-spielzeit-so-viel-sport-sehen-wir-wirklich

In [1]:
sportarten = ["Fussball","Basketball","Handball","Eishockey","Football"]
data = {"Dauer pro Spiel": [90,12*4,60,60,180],
        "Wirkliche Dauer": [57,43,48,60,180*0.058]
}
df = pd.DataFrame(data,columns=["Dauer pro Spiel","Wirkliche Dauer"], index=sportarten)
df["Differenz"] = df["Dauer pro Spiel"]-df["Wirkliche Dauer"]
print(df)
print(df.loc["Basketball"])

NameError: name 'pd' is not defined

In [15]:
import pandas as pd
df = pd.DataFrame({"id": [1,2,3,4],
              "name": ["Hyun","Viktor","Valentin","Brigitte"],
              "alter": [28,34,30,55]},
            index=["x","y","z","a"])
df

   id      name  alter
x   1      Hyun     28
y   2    Viktor     34
z   3  Valentin     30
a   4  Brigitte     55

In [18]:
df.index = ["a","b","c","d"]
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [19]:
df

   id      name  alter
a   1      Hyun     28
b   2    Viktor     34
c   3  Valentin     30
d   4  Brigitte     55