In [1]:
wort = "Abrakadabra"
wort
print(wort)

Abrakadabra

In [2]:
print(wort.lower())

abrakadabra

In [3]:
wort.upper()

'ABRAKADABRA'

In [4]:
buchtitel = "MORGEN BIN ICH EIN LÖWE"
buchtitel.capitalize()

'Morgen bin ich ein löwe'

#So funktioniert Slicing

In [5]:
len(wort)

11

In [6]:
wort[4:]

'kadabra'

In [7]:
wort[len(wort)-1]

'a'

In [8]:
wort[-1]

'a'

In [9]:
wort[-7:]

'kadabra'

In [10]:
"""
Hello comment2
Hello comment2
"""

x=5

In [11]:
x=1
x=2

In [12]:

x+=1
print(x)

3

In [13]:
2*2*2

8

In [14]:
2**3

8

In [15]:
3.5
3,7

(3, 7)

In [16]:
montag = True
dienstag = False
print(montag == dienstag)
print(montag != dienstag)

False
True

# Casting

In [17]:
#Casting
x = 5
print(float(x)+0.4)
y="5.345"
print(float(y))
#y="fünf"
#print(float(y)) #Fehler

5.4
5.345

In [18]:
print(True)
print(str(True))
print(int(True))
print(float(True))

True
True
1
1.0

In [19]:
print(3j**2)
print(complex(2,3))
print((2+3j)**2)

(-9+0j)
(2+3j)
(-5+12j)

# string functions

In [20]:
tag = "Montag"
print(tag.find("n"))
tag = "Wochenende"
print(tag.count("en"))
print(tag.islower())
tag = "wochenende"
print(tag.islower())
tag = "WOCHENENDE"
print(tag.isupper())

2
2
False
True
True

In [21]:
str1 = "Wochenende"
str2 = "ende"
print(str1.endswith(str2))

True

In [22]:
str1 = "Wochenende"
str2 = "ende"
print(str1.startswith(str2))

False

In [23]:
10//3

3

In [24]:
10%3

1

In [25]:
(10+3)%5

3

In [26]:
#Rundungsfehler
3.52 == 0.352*10

False

In [27]:
#Rundungsfehler
0.362*100 == 36.2

False

In [28]:
liste = [1,2,3,4,5,"string",True,1.5]
print(liste)
print(5 in liste)
print(5 not in liste)
liste.append("Bernd")
print(liste)
liste.remove(True)
#liste.remove(True)
print(liste)

[1, 2, 3, 4, 5, 'string', True, 1.5]
True
False
[1, 2, 3, 4, 5, 'string', True, 1.5, 'Bernd']
[2, 3, 4, 5, 'string', True, 1.5, 'Bernd']

In [29]:
liste[1] = "stefan"
print(liste)

[2, 'stefan', 4, 5, 'string', True, 1.5, 'Bernd']

In [30]:
print(liste+liste)

[2, 'stefan', 4, 5, 'string', True, 1.5, 'Bernd', 2, 'stefan', 4, 5, 'string', True, 1.5, 'Bernd']

In [31]:
print(liste[2:5])
print((liste[2:5])[-1])

[4, 5, 'string']
string

In [32]:
print(liste)
liste.insert(2,"nullteselement")
print(liste)

[2, 'stefan', 4, 5, 'string', True, 1.5, 'Bernd']
[2, 'stefan', 'nullteselement', 4, 5, 'string', True, 1.5, 'Bernd']

In [33]:
liste[0] = 3
print(liste)

[3, 'stefan', 'nullteselement', 4, 5, 'string', True, 1.5, 'Bernd']

In [34]:
del liste[1]

In [35]:
print(liste)

[3, 'nullteselement', 4, 5, 'string', True, 1.5, 'Bernd']

In [36]:
neue_liste = filter(lambda element: element!="nullteselement",liste)
print(list(neue_liste))

[3, 4, 5, 'string', True, 1.5, 'Bernd']

In [15]:
string = "Hallo"
print(f'""{float(5)}"" {int(23)} {2+3} {string} {string.upper()} {string.lower()}"')

""5.0"" 23 5 Hallo HALLO hallo"

In [1]:
string_list = [123,"String1"]
print(string_list[1][0])

S

# Hello