<br><br><center><h1 style="font-size:2em;color:green">Lernkontrolle 10.01.2023</h1></center>
<br>
<center>Die möglichen Punkte stehen bei der jeweiligen Aufgabe dabei</center>

# Aufgabe 1

<div  class="alert alert-block alert-info">
1. Du hast einen Musikladen. Schreibe eine pandas Series mit fünf Instrumenten und der Stückzahl, die du davon vorrätig hast. 6 Pkt

    Output:
    Klaviere       12
    Gitarren       32
    Harfen          1
    Schlagzeuge    32
    Triangel        9
    dtype: int64
</div>

<div  class="alert alert-block alert-info">
2. Gib der Series aus Aufgabe 1 einen Namen. 4 Pkt

    Output:
    Klaviere       12
    Gitarren       32
    Harfen          1
    Schlagzeuge    32
    Triangel        9
    Name: Instrumente, dtype: int64
</div>

<div  class="alert alert-block alert-info">
3. Du kaufst einen kleinen Musikladen auf und nimmst dessen Inventar in deinen Lagerbestand auf. Erstelle dazu eine zweite pandas Series mit vier Instrumenten bei denen mindestens ein Instrument identisch zur vorherigen Series ist und mindestens ein Instrument nicht in der vorherigen Series vorkam. Der Name den du in Aufgabe 2 gegeben hast, soll wieder angezeigt werden. Lass dir deinen neuen Lagerbestand anzeigen. 8 Pkt

    Output:
    Bass            1.0
    Gitarren       39.0
    Harfen          1.0
    Klaviere       17.0
    Schlagzeuge    35.0
    Triangel        9.0
    Name: Instrumente, dtype: float64
</div>

<div  class="alert alert-block alert-info">
4. Du hast dich umorientiert und bist jetzt Autohändler. Erstelle einen DataFrame mit fünf Autos. Folgende Informationen sollen für jedes Auto enthalten sein:

   1. Marke
   2. Modell
   3. Farbe
   4. PS

Die Informationen dazu können frei erfunden sein. Lass dir den DataFrame anschließend ausgeben. 6 Pkt

    Output:
       Marke     Modell    Farbe   PS
    0    BMW  2er Coupé  Schwarz  116
    1   Audi         A1      Rot   95
    2   Ford    Mustang     Grün  449
    3     VW     Golf 6     Blau   80
    4  Mazda       RX-8   Silber  231
</div>

<div  class="alert alert-block alert-info">
5. Ändere den Index des DataFrames aus der vorherigen Aufgabe auf A1, A2, A3, A4, A5 ohne den DataFrame neuzudefinieren.  4 Pkt

    Output:
        Marke     Modell    Farbe   PS
    A1    BMW  2er Coupé  Schwarz  116
    A2   Audi         A1      Rot   95
    A3   Ford    Mustang     Grün  449
    A4     VW     Golf 6     Blau   80
    A5  Mazda       RX-8   Silber  231
</div>

<div  class="alert alert-block alert-info">
6. Lass dir alle Spalten- und Zeilennamen des Autodataframes ausgeben. Verwende nur eine einzige Zeile Code. 4 Pkt

    Output:
    [Index(['A1', 'A2', 'A3', 'A4', 'A5'], dtype='object'),
     Index(['Marke', 'Modell', 'Farbe', 'PS'], dtype='object')]

</div>

<div  class="alert alert-block alert-info">
7. Lass dir nur die beiden Spalten Modell und Marke des Autodataframes ausgeben. 6 Pkt

    Output:
           Modell  Marke
    A1  2er Coupé    BMW
    A2         A1   Audi
    A3    Mustang   Ford
    A4     Golf 6     VW
    A5       RX-8  Mazda
</div>

<div  class="alert alert-block alert-info">
8. Lass dir nur die Autos ausgeben, die eine PS Zahl von mehr als 200 haben. 6 Pkt

    Output:
        Marke   Modell   Farbe   PS
    A3   Ford  Mustang    Grün  449
    A5  Mazda     RX-8  Silber  231
</div>

<div  class="alert alert-block alert-info">
9. Sortiere die Autos nun nach der PS Zahl beginnend mit der größten. Überschreibe den DataFrame durch die neue Sortierung. 6 Pkt

    Output:
        Marke     Modell    Farbe   PS
    A3   Ford    Mustang     Grün  449
    A5  Mazda       RX-8   Silber  231
    A1    BMW  2er Coupé  Schwarz  116
    A2   Audi         A1      Rot   95
    A4     VW     Golf 6     Blau   80
</div>

<div  class="alert alert-block alert-info">
10. Lade den Datensatz "iris" aus dem seaborn package und lass dir anschließend die ersten sieben Zeilen davon anzeigen. Alternativ kannst du auch die bereitgestellte iris.csv laden. 6 Pkt

    Output:
       sepal_length  sepal_width  petal_length  petal_width species
    0           5.1          3.5           1.4          0.2  setosa
    1           4.9          3.0           1.4          0.2  setosa
    2           4.7          3.2           1.3          0.2  setosa
    3           4.6          3.1           1.5          0.2  setosa
    4           5.0          3.6           1.4          0.2  setosa
    5           5.4          3.9           1.7          0.4  setosa
    6           4.6          3.4           1.4          0.3  setosa
</div>

<div  class="alert alert-block alert-info">
11. Lass dir den Durschnitt der "sepal_length" aus dem Datensatz iris ausgeben. 4 Pkt

    Output:
    5.843333333333335
</div>

<div  class="alert alert-block alert-info">
12. Gruppiere den Datensatz iris anhand der Spezies und lass dir die Maximalwerte einzelnen Spezies ausgeben. 6 Pkt

    Output:
                sepal_length  sepal_width  petal_length  petal_width
    species
    setosa               5.8          4.4           1.9          0.6
    versicolor           7.0          3.4           5.1          1.8
    virginica            7.9          3.8           6.9          2.5
</div>

<div  class="alert alert-block alert-info">
13. Füge eine weitere Spalte an den Datensatz iris an, in der du für jede Zeile das Verhältnis zwischen der sepal_length und sepal_width einträgst. Das Verhältnis zwischen diesen beiden Werten erhälst du, indem du die sepal_length durch die sepal_width teilst. 8 Pkt

    Output:
         sepal_length  sepal_width  petal_length  petal_width    species  verhältnis_sepal_length-width
    0             5.1          3.5           1.4          0.2     setosa                       1.457143
    1             4.9          3.0           1.4          0.2     setosa                       1.633333
    2             4.7          3.2           1.3          0.2     setosa                       1.468750
    3             4.6          3.1           1.5          0.2     setosa                       1.483871
    4             5.0          3.6           1.4          0.2     setosa                       1.388889
    ..            ...          ...           ...          ...        ...                            ...
    145           6.7          3.0           5.2          2.3  virginica                       2.233333
    146           6.3          2.5           5.0          1.9  virginica                       2.520000
    147           6.5          3.0           5.2          2.0  virginica                       2.166667
    148           6.2          3.4           5.4          2.3  virginica                       1.823529
    149           5.9          3.0           5.1          1.8  virginica                       1.966667
</div>

<div  class="alert alert-block alert-info">
14. Optional (Keine Bonuspunkte). Werte den Iris Datensatz noch weiter aus. Löse dazu folgende Aufgaben:

   1. Um was handelt es sich überhaupt bei den Daten? Erkläre was die einzelnen Spalten überhaupt darstellen.
   2. Berechne den Durchschnitt der einzelnen Spalten in Abhängigkeit von der Spezies und berechne anhand dessen, die prozentualen Unterschiede zwischen den Spezies. (Zum Beispiel: Um wie viel Prozent ist die Durschnittliche petal_length der setosa größer als die der virginica).
   3. Erstelle einen neuen DataFrame, in dem jeweils die zehn Individuen der drei Spezies mit der größten sepal_width enthalten sind.
   4. Versuche noch mehr herauszufinden!
</div>

# Optional

Fasse die Lerninhalte von heute oder dieser Woche nochmal zusammen und notiere dir Fragen, die dir dabei kommen!