<br><br><center><h1 style="font-size:2em;color:#2467C0">Tagesaufgaben 09.01.2023</h1></center>
<br>

# Pandas

## Aufgabe 1

<div  class="alert alert-block alert-info">
1. Erstelle drei DataFrames die jeweils zwei typische Produkte aus dem Supermarkt enthalten fülle die Tabelle mit Stückzahlen der Produkte. Als Index soll jeder DataFrame drei Supermärkte nach folgendem Schema beinhalten:

   1. Der erste df hat die Indices Lidl, Netto, Rewe
   2. Der zweite df hat die Indices Lidl, Rewe, Aldi
   3. Der dritte df hat die Indices Netto, Rewe, Aldi

Füge die drei DataFrames anschließend zusammen, sodass du folgenden Output erhälst (die Zahlen müssen nicht mit deinen übereinstimmen):

    Output:
           Äpfel  Birnen  Bananen  Kartoffeln  Tomaten  Zitronen
    Lidl    12.0    45.0      5.0        13.0      NaN       NaN
    Netto   34.0    91.0      NaN         NaN     23.0      41.0
    Rewe    15.0    16.0      2.0        17.0     24.0      35.0

</div>

In [2]:
import pandas as pd

df1 = pd.DataFrame(
    {"Äpfel": [12, 34, 15], "Birnen": [45,91,16]}, index=["Lidl", "Netto", "Rewe"]
)

df2 = pd.DataFrame(
    {"Bananen": [5,2,74], "Kartoffeln": [13,17,16]}, index=["Lidl", "Rewe", "Aldi"]
)

df3 = pd.DataFrame(
    {"Tomaten": [23,24,19], "Zitronen": [41,35,62]}, index=["Netto", "Rewe", "Aldi"]
)

print(df1.join([df2,df3]))

       Äpfel  Birnen  Bananen  Kartoffeln  Tomaten  Zitronen
Lidl    12.0    45.0      5.0        13.0      NaN       NaN
Netto   34.0    91.0      NaN         NaN     23.0      41.0
Rewe    15.0    16.0      2.0        17.0     24.0      35.0

<div  class="alert alert-block alert-info">
2. Erstelle zwei DataFrames mit Informationen zu Musikbands nach folgendem Schema:

   1. Der erste df beinhaltet in einer Spalte vier Bandnamen und in einer weitere Spalte das Herkunftsland der Band.
   2. Der zweite df beinhaltet in einer Spalte vier Bandnamen. Drei sollten identisch mit den Bands aus df1 sein, der vierte soll ein neuer Name sein. In einer weiteren Spalte steht das Genre der Band.

Füge die beiden DataFrames anschließend anhand der Bandnamen zusammen, sodass du folgenden Output erhälst:

    Output:
             Band Land        Genre
    0       Elvis  USA  Rock'n'Roll
    1     Madonna  USA          Pop
    2  Elton John   UK          Pop

</div>

In [23]:
df1 = pd.DataFrame(
    {
        "Band": ["Elvis", "Madonna", "Elton John", "Beatles"],
        "Land": ["USA", "USA", "UK", "UK"],
    }
)

df2 = pd.DataFrame(
    {
        "Band": ["Elvis", "Madonna", "Elton John", "Nirvana"],
        "Genre": ["Rock'n'Roll", "Pop", "Pop", "Grunge"],
    }
)

print(pd.merge(df1,df2,on="Band"))

         Band Land        Genre
0       Elvis  USA  Rock'n'Roll
1     Madonna  USA          Pop
2  Elton John   UK          Pop

<div  class="alert alert-block alert-info">
3. Um welche Art von merge handelte es sich in der vorherigen Aufgabe? One to one, many to one oder many to many? Erläutere deine Antwort.
</div>

In [ ]:
# One to one, da EINE Zeile EINER anderen Zeile zugeordnet wurde.

<div  class="alert alert-block alert-info">
4. Gegeben sind die folgenden beiden DataFrames. Füge beide DataFrames so zusammen, dass die Mitarbeiter nach Abteilung sortiert aufgelistet werden. Der Output sollte folgendermaßen aussehen:

    Output:
       AbteilungsID Abteilungsname  ManagerID  MitarbeiterID     Name  Alter   Gehalt
    0             1          Sales          5              1    Alice     25    50000
    1             2      Marketing          3              5      Eve     45    70000
    2             3    Engineering          3              2      Bob     30    55000
    3             3    Engineering          3              3  Charlie     35    60000
    4             4             HR          4              4   Debbie     40    65000

</div>

In [32]:
mitarbeiter = pd.DataFrame({'MitarbeiterID': [1, 2, 3, 4, 5],
                         'Name': ['Alice', 'Bob', 'Charlie', 'Debbie', 'Eve'],
                         'Alter': [25, 30, 35, 40, 45],
                         'Gehalt': [50000, 55000, 60000, 65000, 70000],
                         'AbteilungsID': [1, 3, 3, 4, 2]})

abteilungen = pd.DataFrame({'AbteilungsID': [1, 2, 3, 4],
                            'Abteilungsname': ['Sales', 'Marketing', 'Engineering', 'HR'],
                            'ManagerID': [5, 3, 3, 4]})


mitarbeiter_abteilungen = pd.merge(abteilungen, mitarbeiter)
print(mitarbeiter_abteilungen)

   AbteilungsID Abteilungsname  ManagerID  MitarbeiterID     Name  Alter  \
0             1          Sales          5              1    Alice     25
1             2      Marketing          3              5      Eve     45
2             3    Engineering          3              2      Bob     30
3             3    Engineering          3              3  Charlie     35
4             4             HR          4              4   Debbie     40

   Gehalt
0   50000
1   70000
2   55000
3   60000
4   65000

<div  class="alert alert-block alert-info">
5. Um welche Art von merge handelte es sich in Aufgabe 4? One to one, many to one oder many to many? Erläutere deine Antwort.
</div>

In [ ]:
# Many to one, da MEHRERE Zeilen zu EINER Zeile zugeordnet wurden.

<div  class="alert alert-block alert-info">
6. Gegeben ist der folgende DataFrame. Kombiniere den DataFrame mitarbeiter, abteilungen und faehigkeiten so, dass du folgenden Output erhälst:

    Output:
       MitarbeiterID     Name  Alter  Gehalt  AbteilungsID Abteilungsname   ManagerID        Fähigkeiten
    0              1    Alice     25   50000             1          Sales           5              Mathe
    1              1    Alice     25   50000             1          Sales           5  Soziale Kompetenz
    2              2      Bob     30   55000             3    Engineering           3             Python
    3              2      Bob     30   55000             3    Engineering           3                C++
    4              3  Charlie     35   60000             3    Engineering           3             Python
    5              3  Charlie     35   60000             3    Engineering           3                C++
    6              4   Debbie     40   65000             4             HR           4           Tabellen
    7              4   Debbie     40   65000             4             HR           4            Planung
    8              5      Eve     45   70000             2      Marketing           3             Design
    9              5      Eve     45   70000             2      Marketing           3          Photoshop

</div>

In [42]:
faehigkeiten = pd.DataFrame({'AbteilungsID': [1, 1, 3, 3, 4, 4, 2, 2],
                    'Fähigkeiten': ['Mathe', 'Soziale Kompetenz', 'Python', 'C++',
                               'Tabellen', 'Planung', 'Design', 'Photoshop']})

print(pd.merge(pd.merge(mitarbeiter, abteilungen), faehigkeiten))

   MitarbeiterID     Name  Alter  Gehalt  AbteilungsID Abteilungsname  \
0              1    Alice     25   50000             1          Sales
1              1    Alice     25   50000             1          Sales
2              2      Bob     30   55000             3    Engineering
3              2      Bob     30   55000             3    Engineering
4              3  Charlie     35   60000             3    Engineering
5              3  Charlie     35   60000             3    Engineering
6              4   Debbie     40   65000             4             HR
7              4   Debbie     40   65000             4             HR
8              5      Eve     45   70000             2      Marketing
9              5      Eve     45   70000             2      Marketing

   ManagerID        Fähigkeiten
0          5              Mathe
1          5  Soziale Kompetenz
2          3             Python
3          3                C++
4          3             Python
5          3                C++
6          4           Tabellen
7          4            Planung
8          3             Design
9          3          Photoshop

<div  class="alert alert-block alert-info">
7. Um welche Art von merge handelte es sich in Aufgabe 4? One to one, many to one oder many to many? Erläutere deine Antwort.
</div>

In [ ]:
# Many to many, da MEHRERE Zeilen zu MEHREREN Zeilen zugeordnet werden

<div  class="alert alert-block alert-info">
8. Lade den penguins Datensatz und lass dir die Maximalwerte der verschiedenen Spalten ausgeben. Nutze dafür die Aggragtion Funktion.

    Output:
    species                 Gentoo
    island               Torgersen
    bill_length_mm            59.6
    bill_depth_mm             21.5
    flipper_length_mm        231.0
    body_mass_g             6300.0
    dtype: object

</div>

In [47]:
import seaborn as sns

pengu = sns.load_dataset("penguins")
print(pengu.agg("max"))

species                 Gentoo
island               Torgersen
bill_length_mm            59.6
bill_depth_mm             21.5
flipper_length_mm        231.0
body_mass_g             6300.0
dtype: object

C:\Users\pasca\AppData\Local\Temp\ipykernel_32312\2589641575.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(pengu.agg("max"))

<div  class="alert alert-block alert-info">
9. Lass dir die Durchschnittswerte der verschiedenen Spalten des penguins Datensatzes ausgeben. Nutze dafür die Aggragtion Funktion.

    Output:
    bill_length_mm            43.921930
    bill_depth_mm             17.151170
    flipper_length_mm        200.915205
    body_mass_g             4201.754386
    dtype: float64

</div>

In [48]:
print(pengu.agg("mean"))

bill_length_mm         43.921930
bill_depth_mm          17.151170
flipper_length_mm     200.915205
body_mass_g          4201.754386
dtype: float64

C:\Users\pasca\AppData\Local\Temp\ipykernel_32312\238749623.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(pengu.agg("mean"))

<div  class="alert alert-block alert-info">
10. Gruppiere den penguins Datensatz nach der Spezies ("species") und lass dir die Minimalwerte der Spezies für die verschiedenen Eigenschaften ausgeben.

    Output:
               island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
    species
    Adelie     Biscoe            32.1           15.5              172.0       2850.0
    Chinstrap   Dream            40.9           16.4              178.0       2700.0
    Gentoo     Biscoe            40.9           13.1              203.0       3950.0

</div>

In [52]:
print(pengu.groupby("species").min())

           island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
species
Adelie     Biscoe            32.1           15.5              172.0
Chinstrap   Dream            40.9           16.4              178.0
Gentoo     Biscoe            40.9           13.1              203.0

           body_mass_g
species
Adelie          2850.0
Chinstrap       2700.0
Gentoo          3950.0

C:\Users\pasca\AppData\Local\Temp\ipykernel_32312\3089327660.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  print(pengu.groupby("species").min())

<div  class="alert alert-block alert-info">
11. Gruppiere den penguins Datensatz nach der Spezies ("species") und der Insel ("island") und lass dir den Maximalwert der Spezies für die  Eigenschaft "bill_length_mm" ausgeben.

    Output:
    species    island
    Adelie     Biscoe       45.6
               Dream        44.1
               Torgersen    46.0
    Chinstrap  Dream        58.0
    Gentoo     Biscoe       59.6
    Name: bill_length_mm, dtype: float64
</div>

In [1]:
print(pengu.groupby(["species", "island"]).max()["bill_length_mm"])

NameError: name 'pengu' is not defined