<br><br><center><h1 style="font-size:2em;color:green">Lernkontrolle 17.03.2022</h1></center>
<br>

# Aufgabe 1 - Datentypen

1. Definiere mit deinen eigenen Worten die Begriffe Variable, Liste, Tupel, Dictionary, Set. (5 Punkte)

In [ ]:
# Variable:
# Liste:
# Tupel:
# Dictionary:
# Set:

2. Nenne den wichtigsten Unterschied zwischen Listen und Tupel. (2 Punkte)

3. Nenne die beiden Booleschen Werte und erkläre, wofür jeder davon steht. (2 Punkte)

4. Ändere den Datentyp der Variable x in einen String, der Variable y in eine ganze Zahl und den der Variable z in eine Dezimalzahl. (3 Punkte)

In [ ]:
x = 4.5
y = 7.3
z = 1

# Aufgabe 2 - Strings

1. Definiere zwei Variablen gruss und welt mit den Inhalten "Hallo" und "Welt". Lass dir anschließend beide Strings hintereinander ausgeben. Zwischen beiden Strings sollte ein Leerzeichen stehen. Lass in einem letzten Schritt die Länge des gesamten Texts ausgeben. (4 Punkte)

2. Lass dir die Länge der ersten deiner Variablen ausgeben. (1 Punkt)

3. Gib nur den zweiten Buchstaben deiner ersten Variable aus. (2 Punkte)

4. Gib die letzten beiden Buchstaben deiner zweiten Variable aus. Verwende dazu eine Schreibweise, bei der die Länge der Variable egal ist. (2 Punkte)

# Aufgabe 3 - Listen

1. Erstelle eine Liste mit fünf verschiedenen Tieren: Pinguin, Panda, Elefant, Giraffe, Zebra. Speichere sie in die Variabel tierliste und lasse dir diese ausgeben. (3 Punkte)

2. Füge deiner Liste einen weiteren Eintrag Hyäne hinzu, ohne die Liste selbst neu zu definieren. Lass dir die aktualisierte Liste ausgeben. (2 Punkte)

3. Sortiere die Liste alphabetisch. (2 Punkte)

4. Drehe die Reihenfolge der Liste nun um. (2 Punkte)

5. Entferne Pinguin aus der Liste. Und lasse dir den Inhalt danach ausgeben. (2 Punkte)

# Aufgabe 4 - Tupel

1. Erstelle ein Tupel mit vier Städten. (2 Punkte)

2. Lass dir die dritte Stadt ausgeben. (2 Punkte)

# Aufgabe 5 - Dictionaries

1. Erstelle ein Dictionary, in welchem die deutschen Zahlen von eins bis vier in eine andere Sprache deiner Wahl übersetzt werden sollen. Die deutschen Zahlen sollen als Keys (Schlüssel) gegeben werden und die Zahlen der anderen Sprache als Value (Wert). (3 Punkte)

2. Lass dir die keys deines Dictionary ausgeben. (2 Punkte)

3. Lass dir den Wert der Zahl "zwei" ausgeben. (2 Punkte)

# Aufgabe 6 - Sets

1. Erstelle ein Set aus 4 Getränken. Eins davon sollte "Wasser" sein. (2 Punkte)

2. Überprüfe, ob in deinem Set "Wasser" enthalten ist. Die Ausgabe sollte ein Boolescher Wert sein. Schreibe in einem Kommentar, was dieser Wert bedeutet. (3 Punkte)

3. Erstelle ein weiteres Set aus den vier Elementen: Wasser, Feuer, Luft, Erde. Lass dir anschließend die übereinstimmenden Elemente zwischen deinem ersten und zweiten Set ausgeben. Benutze eine geeignete Mengenoperation. (2 Punkte)

4. Lass dir nur die Elemente aus deinem ersten Set ausgeben, die NICHT im zweiten Set vorhanden sind. (2 Punkte)

# Aufgabe 7 - Bedingungen

1. Prüfe einen String mit Bedingungen. Wenn der String "Hallo" lautet, dann soll dein Output lauten: "Sie wurden gegrüßt!". In allen anderen Fällen soll der Output lauten: "Andere Eingabe". Teste deinen Code mit verschiedenen Strings. (4 Punkte)

2. Du hast drei Einkommen vorliegen und möchtest sie Einkommensklassen zuordnen. Dabei gilt: Hohes Einkommen ist ab 60.000 Euro. Niedriges Einkommen liegt unter 20000. Alles dazwischen ist Mittleres Einkommen. Die Ausdrücke Hohes Einkommen/Mittleres Einkommen/Niedriges Einkommen sollen dabei als Output erscheinen. Formuliere Bedingungen und spiele deinen Code mit den drei vorgegebenen Einkommen durch. Kommentiere deinen Code. (5 Punkte)

In [ ]:
einkommen1 = 23000
einkommen2 = 65000
einkommen3 = 15000

# Aufgabe 8 - Schleifen und List Comprehension

1. Du hast eine Liste mit Einkommen. Lass dir mit einer for-Schleife für jedes Einkommen nach dem Schema von Aufgabe 7 Punkt 2 das Einkommen ausgeben. Willst du Bonuspunkte? Dann lass dir das Ergebnis in folgender Form ausgeben: "12000 - Niedriges Einkommen" (die 12000 sind dabei nur ein Beispielwert!). Kommentiere auch hier deinen Code! (5 Punkte)

In [ ]:
einkommensliste = [12000, 150000, 67500, 25000, 38000, 45000, 9200, 32000, 20000]

2. Du möchtest nun eine Liste aller hohen Einkommen haben. Erreiche dies mit einer List Comprehension und speichere das Ergebnis in die Variabel grossverdiener. Lass dir den Inhalt der Variabel ausgeben! (4 Punkte)

3. Der Nutzer soll ein Passwort eingeben. Er wird dazu mit den Worten aufgefordert: "Bitte geben Sie Ihr Passwort ein:". Sein Passwort lautet: "lernkontrolle". Wenn er das Passwort richtig eingibt, soll die Passwort-Abfrage enden und die Nachricht erscheinen: "Sie sind nun eingeloggt". Schreibe zu deiner Lösung Kommentare, was die einzelnen Schritte machen! (6 Punkte)