<br><br><center><h1 style="font-size:2em;color:#2467C0">Tagesaufgaben 04.04.2023</h1></center>
<br>

# Pandas

## Aufgabe 1 - Serien

<div  class="alert alert-block alert-info">
1. Erstelle eine Pandas-Series mit fünf Zahlen und lass sie dir anschließend ausgeben.

    Output:
    0     1
    1     2
    2    23
    3     3
    4     4
    dtype: int64

</div>

In [1]:
import pandas as pd

In [2]:
meine_series = pd.Series([1,2,23,3,4])
meine_series

0     1
1     2
2    23
3     3
4     4
dtype: int64

<div  class="alert alert-block alert-info">
2. Erstelle eine Pandas-Series mit fünf Einträgen. Der Index soll dieses Mal aus Strings bestehen.

    Output:
    Rot        13
    Blau       24
    Grün        1
    Schwarz    90
    Magenta     3
    dtype: int64
</div>

In [3]:
zweite_series = pd.Series([13,24,1,90,3],index=["Rot", "Blau", "Grün", "Schwarz", "Magenta"])
zweite_series

Rot        13
Blau       24
Grün        1
Schwarz    90
Magenta     3
dtype: int64

<div  class="alert alert-block alert-info">
3. Greife per Index auf einen der Einträge aus der Series der vorherigen Aufgabe zu. Nutze dafür zum einen eine Zahl und zum anderen den entsprechenden String.
</div>

In [4]:
zweite_series["Grün"]

1

In [5]:
zweite_series.loc["Grün"]

1

In [6]:
zweite_series.iloc[2]

1

<div  class="alert alert-block alert-info">
4. Gib der Series aus Aufgabe 2 nun einen Namen.

    Output:
    Rot        13
    Blau       24
    Grün        1
    Schwarz    90
    Magenta     3
    Name: Farben, dtype: int64
</div>

In [8]:
zweite_series.name = "Farben"

In [10]:
print(zweite_series)

Rot        13
Blau       24
Grün        1
Schwarz    90
Magenta     3
Name: Farben, dtype: int64

<div  class="alert alert-block alert-info">
5. Erstelle ein Dictionary mit vier Einträgen und wandel es anschließend in eine Pandas-Series um.

</div>

In [11]:
my_dict = {"Name": "Max", "Alter": 37, "Größe": 179, "Geschlecht": "m"}
person_series = pd.Series(my_dict)
person_series

Name          Max
Alter          37
Größe         179
Geschlecht      m
dtype: object

<div  class="alert alert-block alert-info">
6. Erstelle eine Pandas-Series, mit fünf Einträgen und ähnlichen Indizes wie in Aufgabe 5. Mindestens ein Index soll identisch sein zu denen aus Aufgabe 5. Füge anschließend beide Serien zusammen und lass dir die neue Liste ausgeben. In der neuen Serie sollen keine NaN vorkommen.

</div>

## Aufgabe 2 - DataFrames

<div  class="alert alert-block alert-info">
1. Erstelle einen DataFrame mit vier Ländern und deren Einwohnerzahlen.

    Output:
                 Land   Einwohner
       0      Belgien   11600000
       1  Niederlande   17600000
       2     Portugal   10400000
       3       Türkei   84700000


</div>

In [17]:
laender = pd.DataFrame({
    "Land":["Belgien", "Niederlande", "Portugal", "Türkei"],
    "Einwohner": [11600000, 17600000, 10400000, 84700000]
})
laender

          Land  Einwohner
0      Belgien   11600000
1  Niederlande   17600000
2     Portugal   10400000
3       Türkei   84700000

<div  class="alert alert-block alert-info">
2. Ändere den Index des DataFrames aus Aufgabe 2.1 auf L1, L2, L3 und L4. Optional: Finde einen Weg, wie du den Index ändern kannst, ohne den gesamten DataFrame neuzudefinieren.

</div>

In [21]:
laender.set_index("Land", inplace=True)

In [22]:
laender

             Einwohner
Land
Belgien       11600000
Niederlande   17600000
Portugal      10400000
Türkei        84700000

<div  class="alert alert-block alert-info">
3. Erstelle einen DataFrame mit vier Ländern, deren Einwohnerzahl, der Hauptstadt und der ersten Amtssprache. Verwende hierzu wieder ein Dictionary. Als Index soll wieder L1, L2, usw. stehen.

    Output:
               Land  Einwohner Hauptstadt     Amtssprache
    L1      Belgien   11600000    Brüssel  Niederländisch
    L2  Niederlande   17600000  Amsterdam  Niederländisch
    L3     Portugal   10400000   lissabon   Portugiesisch
    L4       Türkei   84700000     Ankara        Türkisch

</div>

<div  class="alert alert-block alert-info">
4. Erstelle den gleichen DataFrame wie in der vorherigen Aufgabe, aber verwende dieses Mal kein Dictionary. Schreibe nun die einzelnen Spalten der Tabelle (Land, Einwohner, Hauptstadt, Amtssprache) zuerst als Pandas-Series und füge am Ende alle Series zu einem DataFrame zusammen.

    Output:
               Land  Einwohner Hauptstadt     Amtssprache
    L1      Belgien   11600000    Brüssel  Niederländisch
    L2  Niederlande   17600000  Amsterdam  Niederländisch
    L3     Portugal   10400000   lissabon   Portugiesisch
    L4       Türkei   84700000     Ankara        Türkisch

</div>

<div  class="alert alert-block alert-info">
5. Lass dir alle Indices und alle Columns aus dem DataFrame aus der vorherigen Aufgabe ausgeben.

    Output:
    Index(['L1', 'L2', 'L3', 'L4'], dtype='object')
    Index(['Land', 'Einwohner', 'Hauptstadt', 'Amtssprache'], dtype='object')
</div>

<div  class="alert alert-block alert-info">
6. Lass dir alle Infos für dein drittes Land ausgeben.

    Output:
    Land                Portugal
    Einwohner           10400000
    Hauptstadt          lissabon
    Amtssprache    Portugiesisch
    Name: L3, dtype: object
</div>