# Tagesaufgaben 1/2 13.03.2023 - Casting, Operatoren, Strings

# 1. Casting

1. Führe die Zelle mit der Variablen a aus.

In [2]:
a = "42"

2. Nun versuche a durch 2 zu teilen. Warum funktioniert das nicht? Ändere a so ab, damit es funktioniert und schreibe in einem Kommentar, was du getan hast und wieso es zuvor nicht funktioniert hat.

In [ ]:
# Arbeite hier
a/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [5]:
# Arbeite hier
a = int(a) # Wandle die "42" von String zu Ganzzahl um. Überschreibe die Variabel mit dem Ergebnis.
a/2        # Teile nun die Ganzzahl durch 2.

21.0

3. Du hast in den Variablen b und c Gleitkommazahlen (floats) vorliegen. Wandle diese nun in Ganzzahlen (integers) um. Was passiert mit b und c? Wie erklärst du dir das? Kommentiere.

In [6]:
# Vergiss nicht, diese Zelle auszuführen
b = 3.1
c = 3.6

In [7]:
# Arbeite hier:
print(int(b)) # In beiden Fällen wird die ganze Zahl ausgegeben, die vor dem Komma steht.
print(int(c)) # Die Regeln des Rundens greifen dabei nicht!

3
3

4. Dir liegen zwei Wahrheitswerte in den Variablen d und e vor. Wandle sie nun in ganze Zahlen um. Was passiert? Wie erklärst du dir das? Schreibe einen Kommentar.

In [8]:
# Führe aus
d = True
e = False

In [9]:
# Arbeite hier
print(int(d)) # True entspricht numerisch einer 1 und False einer 0.
print(int(e)) # Deswegen erhalten wir als Ergebnis die entsprechenden Ganzzahlen.

1
0

5. Die Variable f enthält den String "zwei". Versuche, die Variable mit sich selbst zu multiplizieren. Nun versuche sie mit sich selbst zu addieren. Multipliziere die Variable schließlich mit der Zahl 7. Was passiert in den jeweiligen Fällen? Wie erklärst du dir das? Schreibe in einem Kommentar.

In [21]:
# Führe aus
f = "zwei"

In [25]:
# Arbeite hier
f*f # Zwei ist ein String. Man kann Stringdaten nicht miteinander multiplizieren.

TypeError: can't multiply sequence by non-int of type 'str'

In [27]:
f+f # Man kann sie aber addieren. Das Plus bedeutet einfach nur, dass man sie aneinanderhängt (concatenation)

'zweizwei'

In [28]:
f*7 # Und mit einer Zahl multiplizieren geht auch. Das heißt einfach nur, dass der Text soundso viele Male verkettet wird (wieder concatenation).

'zweizweizweizweizweizweizwei'

# 2. Logische und mathematische Operationen

1. Du hast eine Ungleichung von zwei Zahlen vorliegen und erhältst einen Output. Führe alle Zellen inklusive Ungleichung aus. Wenn du dir den Output anschaust: Welche Zahl ist größer: zahl1 oder zahl2? Erkläre in einem Kommentar

In [29]:
zahl1 = 10**8 + 12000

In [30]:
zahl2 = 20000001

In [31]:
zahl1 < zahl2 # False bedeutet, dass das Umgekehrte der Fall ist. Die Zahl 1 ist größer gleich zahl2.

False

2. Du vergleichst die beiden Boole'schen Werte miteinander. Führe die Zellen weiter unten aus. Wie erklärst du dir die Ergebnisse? Kommentiere.

In [37]:
True == False
# Wahrheitswert True ist ungleich False. Deswegen ist die Aussage falsch (man erhält ein False als Output)

False

In [33]:
True > False
# True ist größer als False, weil die numerische Repräsentation von True 1 und die von False 0 ist.

True

In [34]:
False > True
# Aus dem umgekehrten Grund ergibt sich hier ein False.

False

In [35]:
False + False == False
# Zweimal False (numerisch 0) ergibt immer noch False (0).

True

3. Prüfe, welche der folgenden Zahlen durch 156 teilbar ist. Benutze dafür den Modulus. Wie interpretierst du den Output? Vergiss nicht, alle Zellen auszuführen!

In [39]:
zahl3 = 156

In [43]:
zahl3%156 # 0 > teilbar

0

In [45]:
zahl4 = 157

In [46]:
zahl4%156 # Rest 1 > nicht durch 156 teilbar

1

In [42]:
zahl5 = 20035392

In [47]:
zahl5%156 # Rest 0 > teilbar

0

In [48]:
zahl6 = 424**12

In [49]:
zahl6%156 # nicht teilbar

40

4. Führe die Zellen aus und erkläre die Wahrheitswerte in Kommentaren.

In [ ]:
2+2 == 4 or 2*2 == 5

In [ ]:
# Erklärung

In [ ]:
2+2 == 4 and 2*2 == 4

In [ ]:
# Erklärung

In [ ]:
12 == 12 and "12" == 12

In [ ]:
# Erklärung

5. Prüfe, ob die beiden Strings string1 und string2 ungleich sind. Erläutere das Ergebnis in einem Kommentar.

In [14]:
string1 = "HALLO WELT".lower()

In [15]:
string2 = "hallo welt"

In [20]:
string1 != string2

False

# 3. Stringoperationen

1. Weise den String "Abrakadabra" der Variable mein_string zu. Zähle im nächsten Schritt alle Vorkommnisse des Buchstabens a (sowohl Groß- als auch Kleinschreibung) in mein_string.

2. Ersetze das große A in mein_string durch ein großes O und speichere das Ergebnis in einer neuen Variable neuer_string. Ersetze ferner alle kleinen a's durch u's.

3. Hole mithilfe von Slicing a) 'Obru' und b) 'kudu.

4. Prüfe welchen Typ neuer_string hat.