In [1]:
import pandas as pd
df = pd.DataFrame({
    "name": ["Hyun", "Viktor", "Valentin", "Brigitte"],
    "alter": [28, 35, 30, 55]},
    index = [1, 2, 3, 4]
)

In [2]:
df

       name  alter
1      Hyun     28
2    Viktor     35
3  Valentin     30
4  Brigitte     55

In [3]:
df["alter"]

1    28
2    35
3    30
4    55
Name: alter, dtype: int64

In [4]:
df[["name", "alter"]]

       name  alter
1      Hyun     28
2    Viktor     35
3  Valentin     30
4  Brigitte     55

In [5]:
df["gewicht"] = [70,75,80,65]

In [6]:
df

       name  alter  gewicht
1      Hyun     28       70
2    Viktor     35       75
3  Valentin     30       80
4  Brigitte     55       65

In [7]:
groesse = [180, 230, 176, 170]
geschlecht = ["m","m","m","w"]

In [8]:
list(zip(groesse, geschlecht))

[(180, 'm'), (230, 'm'), (176, 'm'), (170, 'w')]

In [9]:
df[["größe", "geschlecht"]] = list(zip(groesse, geschlecht))

In [10]:
df

       name  alter  gewicht größe geschlecht
1      Hyun     28       70   180          m
2    Viktor     35       75   230          m
3  Valentin     30       80   176          m
4  Brigitte     55       65   170          w

In [11]:
df["name"] == "Viktor"

1    False
2     True
3    False
4    False
Name: name, dtype: bool

In [12]:
# Slicen nach Namen
df[df["name"] == "Viktor"]

     name  alter  gewicht größe geschlecht
2  Viktor     35       75   230          m

In [13]:
# Slicen nach Geschlecht
df[df["geschlecht"] == "w"]

       name  alter  gewicht größe geschlecht
4  Brigitte     55       65   170          w

In [14]:
# Slicen nach zwei Bedingungen
df[(df["größe"] == 230) & (df["geschlecht"] == "m")]

     name  alter  gewicht größe geschlecht
2  Viktor     35       75   230          m

In [15]:
# Slicen nach zwei Bedingungen
df[(df["größe"] == 230) | (df["geschlecht"] == "w")]

       name  alter  gewicht größe geschlecht
2    Viktor     35       75   230          m
4  Brigitte     55       65   170          w

In [16]:
# Slicen nach Alter / Gewicht (mathematische Operatoren):
df[df["größe"] >= 180]

     name  alter  gewicht größe geschlecht
1    Hyun     28       70   180          m
2  Viktor     35       75   230          m

In [17]:
# Gewicht
df[df["gewicht"] < 75]

       name  alter  gewicht größe geschlecht
1      Hyun     28       70   180          m
4  Brigitte     55       65   170          w

In [18]:
df[(df["name"] == "Viktor") | (df["name"] == "Valentin")]

       name  alter  gewicht größe geschlecht
2    Viktor     35       75   230          m
3  Valentin     30       80   176          m